<p id="notice"><%= notice %></p>

<p>
  <strong>Target:</strong>
  <%= @target.target %>
</p>

<p>
  <strong>Status:</strong>
  <%= @target.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @target.user_id %>
</p>

<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
