<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', week_path(@day.week_id) %>


      <div class="row">
        <div class="col-md-12">
          <h1><%= @day.date.strftime("%A, %B %e, %Y") %></h1>
          <hr>
        </div>
        <div class="col-md-4">


        <!-- Targets start -->
          <h4><i class="fa fa-bullseye" aria-hidden="true"></i>  Today's Targets</h4>
          <ol>  
                <% @day.targets.each do |target| %>
                  <li>
                    <% if target.completed_at.nil? %>
                    <%= link_to '<i class="fa fa-check"></i>'.html_safe, complete_target_path(target), method: :patch  %>
                    <% end %>
                  <% if target.completed_at.nil? %>
                    <%= target.target %>
                  <% else %>
                   <span style="text-decoration: line-through;"><%= target.target %></span>
                  <% end %>
                   </li>
                <% end %>
              </ol>
          <% if @day.targets.count < 3 %>
                  <small id="emailHelp" class="form-text text-muted">
                          You will be able to add a maximum of 3 items.
                        </small>
                    <%= form_for([@day, @day.targets.build]) do |f| %>
                      <div class="form-group">
                        <%= f.label :target, :class => "hidden" %><br>
                        <%= f.text_field :target, :class => "form-control", :required => true, :placeholder => "3 most important tasks for today..." %>
                        
                        <%= f.hidden_field :status, :value => "todo" %>
                      </div>
                        <%= f.submit "Add", :class => "btn btn-primary", data: { disable_with: "Adding..." } %>
                    <% end %>
                  
                <% end %>
         <!-- Targets end -->
                <hr>
          
        <!-- Tonight I am grateful for start -->
          <h4><i class="fa fa-moon-o" aria-hidden="true"></i>  Tonight I am grateful for...</h4>
              <ol>  
                <% @day.gratefuls.each do |grateful| %>
                  <li><%= grateful.comment %></li>
                <% end %>
              </ol>
                <% if @day.gratefuls.count < 3 %>
                    <%= form_for([@day, @day.gratefuls.build]) do |f| %>
                     <small id="emailHelp" class="form-text text-muted">
                          You can add a maximium of 3 items here.
                        </small>
                      <div class="form-group">
                        <%= f.label :comment, :class => "hidden" %><br>
                        <%= f.text_field :comment, :class => "form-control", :required => true, :placeholder => "A space to end your day with positivity..." %>
                      </div>
                        <%= f.submit "Add", :class => "btn btn-primary", data: { disable_with: "Adding..." } %>
                    <% end %>
                <% end %>
        <!-- Tonight I am grateful for end -->

        </div>
        <div class="col-md-7 col-md-offset-1">
          <%= render 'quartergoals' %>
        <hr>
          
          <%= render 'habits' %>
        </div>

      </div>